body{
     background-color:#AAAAAA;
   }
.bg{
     background-color:#FFFFFF;
     width: 940px;
     height: 600px;
     margin: 0 auto;
     }
.nav{
     float:right;
     color:#666;
     font:bold 16px;
     text-decoration:none;
     }
.word {
     float:right;
     color:#000000;
     font:italic bold 350px;
     text-decoration:none;
     }
