body{
     background-color:#AAAAAA;
   }
.bg{
     background-color:#FFFFFF;
     width: 940px;
     height: 600px;
     margin: 0 auto;
     }
.nav a{
     float:right;
     color:#666;
     font:bold 16px;
     text-decoration:none;
     }
.women img{
     width: 230px;
     height: 550px;
     margin: 0 auto;
     position:relative; 
     left: 20px; top:50px;
     }
.word a{
     color:#000000;
     font-style:italic;
     font-size: 65px;
     text-decoration:none;
     position: absolute; 
     left: 480px; top:70px;
     letter-spacing:8px;
     }
