body{
     background-color:#AAAAAA;
   }
.header{
     background-color:#FFFFFF;
     width: 940px;
     height: 600px;
     margin: 0 auto;
     }
.nav{
     float:right;
     }
.nav a{
     color:#666;
     font:bold 16px;
     text-decoration:none;
     }
.word a{
     color:#000000;
     font:italic bold 30px;
     text-decoration:none;
     }
